
<div class="container">
<div class="row">
	<div class="jumbotron">
		<h1>Capture and report broken systems</h1>
		<p>Report broken systems in your communities. Earn rewards as you do so.</p>
	<center><%= link_to "Capture broken system" , help_path , class: "btn btn-primary btn-lg "  %> </center>	  
	</div>
</div>
	
</div>

<!-- <h1>Capture and Report Broken Systems </h1>
<p> Report broken systems in your communities . Earn rewards as you do so. </p> -->